/*Reset universal*/
@import url('https://fonts.googleapis.com/css2?family=Buda:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Buda", serif;
    font-weight: 300;
    font-style: normal;
}

.portafolio-header {
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    color: white;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}